body {
  font-family: monospace;
}
#mainCard {
  border: 1px solid black;
  box-shadow: 5px 10px #888888;
  width: 400px;
}
td {
  padding: 10px;
  text-align: center;
  border: 1px solid white;
}
div.smallDay {
  text-align: center;
  width: auto;
  text-transform: capitalize;
  color: #C0C0C0;
}
div#leftInfo {
  margin-left: 20px;
}
div#rightInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}
p#city {
  font-weight: bold;
  text-transform: uppercase;
}
table {
  padding: 20px;
}
td.active {
  border: 1px solid black;
}
div#largeImg {
  float: right;
  vertical-align: top;
}
div#topCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
div#temp {
  font-size: 2rem;
}
