<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel ="stylesheet" type = "text/css" href ="style.css">
</head>
<body>
    <div class="container">
    <div id="alert" class="alert alert-success hidden" role="alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <span id = "updateUsername"></span> & <span id = "updatePassword"></span>
    </div>
  </div>
  <br><br><br><br>
  <div class = "container">
    <div class = "jumbotron">
          <button type="button" class="btn btn-primary" onClick="getUP()">Sign In</button>
        </div>
  </div>
</div>
  <script src="hello.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
