body {
  font-family: Arial, Helvetica, sans-serif;
}
.jumbotron {
  width: 600px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#content {
  display: inline-flex;
  clear: both;
}
.jumbotron {
  display: inline-flex;
  clear: both;
  margin-top: 10px;
  position: absolute;
}
.btn-primary {
  width: 550px;
}
#left {
}
#right {
  display: inline;

}
.hidden {
  display: none;
}
#alert {
  width: 600px;
}
