/* General Layout */
body {
  margin: 0px;
  font-family: verdana;
  font-size: 12px;
  background-color: #F5F5F5;
  background-color: #ffffff;
}
div p {
  font-size: 12px;
}
.add-padding {
  padding: 10px 0px 0px 0px;
}
div h1 {
  color: #383838;
  margin: 10px;
  margin-left: 0px;
  font-size: 2em;
}
div p {
  color: #888888;
}
.row {
  margin-bottom: 20px;
}
.fab {
  font-size: 16px;
}
a#name {
  font-size: 20px;
}
a#name:hover {
  font-size: 20px;
  text-decoration: none;
}
a {
  color: #363636;
}
a:hover {
  color: #363636;
  text-decoration: underline;
}
/* Nav Bar Items */
/* Got some help here... https://bradsknutson.com/blog/css-sliding-underline/ */
a.navItems {
  font-size: 20px;
  color: #F2617A;
  text-decoration: none;
  display: inline-block;
}
a.navItems:hover {
  font-size: 20px;
  color: #F2617A;
  text-decoration: none;
}
a.navItems {
  color: #F2617A;
  text-decoration: none;
}
a.navItems:hover {
  color: #F2617A;
  text-decoration: none;
}
a.navItems:visited {
  color: #F2617A;
  text-decoration: none;
}
a.navItems:hover:before {
  visibility: visible;
}
a.navItems:after {
  content:"";
  display: block;
  height: 2px;
  width: 0;
  transition: width 0.7s ease;
}
a.navItems:hover:after {
  width: 100%;
  background: #F2617A;
}
#mainBody {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 50px;
}
/* Text formating */
.strikeThru {
  text-decoration: line-through;
}
.textCenter {
  text-align: center;
}
