<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
<link rel ="stylesheet" href = "css/main.css" type ="text/css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

</head>

<body>
  <div class="container">
    <div class="row">
  <div class="col-6 add-padding add-padding"><a id = "name" href="index.html">ALEC BERGEN</a></div>
  <div class="col-6">
    <div style="text-align: center;" class="row">
      <div class="col-4 add-padding"><a class="navItems" href="about">ABOUT</a></div>
      <div class="col-4 add-padding"><a class="navItems" href="portfolio">PORTFOLIO</a></div>
      <div class="col-4 add-padding"><a class="navItems" href="cv">CV</a></div>
    </div>
  </div>
  </div>
  <div id = "mainBody">
    <h1>Code</h1>
    <p>Medium's developer APIs do not allow for the look up of posts by user *sad face*.
      They do, however, generate a JSON file for each user. GREAT! Problem solved. But not really though!
      I was running into a CORS error when trying to retrieve the data *sad face ^2 *.<br><br>
      Luckily, <a href="https://medium.com/@markfasel">Mark Fasel</a> had a <a href="https://medium.com/statuscode/building-a-basic-web-service-to-display-your-medium-blog-posts-on-your-website-using-aws-api-48597b1771c5">tutorial</a> that described how
      fix this error using AWS's Lamda functions and API Gateway Services. I certainly cannot take credit for
      this workaround (way outside of my wheelhouse right now), I did the rest of the implementation.<br><br>
      I ran into an issue with accessing the posts due to a unique identifier. Eventually, I'll figure out a workaround
      for this!

  </div>
  <div class="row">
    <div class="col-4">
      <div style="text-align: center;" class="row">
        <div class="col-2 add-padding"><i class="fab fa-linkedin"></i></div>
        <div class="col-2 add-padding"><i class="fab fa-medium"></i></div>
      </div>
    </div>
  <div class="col-8"></div>
</div>
</div>
</body>
