<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/oj.JSFiddle/0.0.1/oj.JSFiddle.js"></script>
  <link type="text/css" href="keylist.css" rel="stylesheet">
  <link type = "text/css" rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

</head>
<body>

  <div class="container">
    <form class="form-inline">
      <input class="form-control form-control-md" id = "userInput" type = "text" value="type + hit enter" onfocus="this.value=''"></input>
      <div id = "spacer"></div>
      <button onclick="clear()" class="btn btn-primary">Reset</button>
    </form>


      <ul id = "target"></ul>

  </div>
  <script type = "text/babel" src = "keylist.js"></script>

</body>
