body {
  font-family: verdana;
  color: #7D7C7D;
  background-image: url('https://img.freepik.com/free-vector/floral-pattern-design_1235-95.jpg?size=338&ext=jpg');
  letter-spacing: 2px;
}
.container {
  width: 500px;
}

li {
  font-size: 12px;
  border-bottom: .5px solid #6CB5F9;
  background-color: #FFFFFB;
  list-style-type: none;
  width: 600px;
  border-left: 1px solid #FF5771;
  padding: 5px 5px 5px 15px;
  text-transform: uppercase;
}
.form-inline {
  background-color: #444444;
  padding: 10px;
  border-radius: 3px 3px 0px 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}
ul {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FFFFFB;
  border-radius: 0px 0px 2px 2px;
}
div#spacer {
  width: 10px;
}
