<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel = "stylesheet" type = "text/css" href = "style.css">
  <title>Top 10 PNW Stocks</title>
</head>
<body>
  <div class = "container">
    <h1>Top 10 PNW Stocks 🌲</h1>
    <table class="table table-striped" id="demo">
      <tr>
        <th>Company</th>
        <th>Market Cap</th>
        <th>Sales</th>
        <th>Profit</th>
        <th>Number of Employees</th>
      </tr>
    </table>
  </div>
  <script src="script.js"></script>
</body>
