body {
  font-family: helvetica;
  background-image: url('image.jpg');
  background-color: #80ab27;
}
  .container {
  margin-top: 10px;
  background-color: white;
  width: 80%;
}
h1 {
  color: #383838;
}
