<img height = "32px" src="img/AppleLogo.svg">
<img height = "64px" src="img/AppleLogo.svg">
<img height = "128px" src="img/AppleLogo.svg">
<img height = "256px" src="img/AppleLogo.svg">
<img height = "512px" src="img/AppleLogo.svg">

<img height = "32px" src="img/SmileySquare.svg">
<img height = "64px" src="img/SmileySquare.svg">
<img height = "128px" src="img/SmileySquare.svg">
<img height = "256px" src="img/SmileySquare.svg">
<img height = "512px" src="img/SmileySquare.svg">
