<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="flights.css" type="text/css">
  <title>Flight Information (Sea-Tac Airport)</title>
</head>
<body>

  <div class="container">
    <h1>Flight Information</h1>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col"> <p>Airline</p> </th>
        <th scope="col"> <p>Number</p> </th>
        <th scope="col"> <p>Origin</p> </th>
        <th scope="col"> <p>Arrival Time</p> </th>
        <th scope="col"> <p>Baggage Carousel</p> </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <p id="airline1"></p> </td>
        <td> <p id="number1"></p> </td>
        <td> <p id="origin1"></p> </td>
        <td> <p id="arrival1"></p> </td>
        <td>10 </td>
      </tr>
      <tr>
        <td> <p id="airline2"></p> </td>
        <td> <p id="number2"></p> </td>
        <td> <p id="origin2"></p> </td>
        <td> <p id="arrival2"></p> </td>
        <td> 4 </td>
      </tr>
      <tr>
        <td> <p id="airline3"></p> </td>
        <td> <p id="number3"></p> </td>
        <td> <p id="origin3"></p> </td>
        <td> <p id="arrival3"></p> </td>
        <td>6 </td>
      </tr>
      <tr>
        <td> <p id="airline4"></p> </td>
        <td> <p id="number4"></p> </td>
        <td> <p id="origin4"></p> </td>
        <td> <p id="arrival4"></p> </td>
        <td>3 </td>
      </tr>
      <tr>
        <td> <p id="airline5"></p> </td>
        <td> <p id="number5"></p> </td>
        <td> <p id="origin5"></p> </td>
        <td> <p id="arrival5"></p> </td>
        <td>12 </td>
      </tr>
    </tbody>
  </table>

  <script src="flights.js"></script>
</body>
