<head>
  <link rel="stylesheet" type ="text/css" href="pac12.css">
</head>
<body>
  <div class="container">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">PAC-12 FOOTBALL STANDINGS ==>
        <button onclick="myFunction()">Click me</button></h3>
      </div>
      <div class="panel-body">
        <p id="team">NORTH DIVISION Conference Teams (2015-2016 Season)</p>
        <ul class="list-group">
          <li id="one" class="list-group-item north-div">1</li>
          <li id="two" class="list-group-item north-div">2</li>
          <li id="three" class="list-group-item north-div">3</li>
          <li id="four" class="list-group-item north-div">4</li>
          <li id="five" class="list-group-item north-div">
            <div class="row">
              <div class="col-sm-4 college">School</div>
              <div class="col-sm-4 conference">Conference</div>
              <div class="col-sm-4 overall">Overall</div>
            </div>
          </li>
          <li id="six" class="list-group-item north-div">6
<!--             <div class="row">
              <div class="col-sm-4 college">School</div>
              <div class="col-sm-4 conference">Conference</div>
              <div class="col-sm-4 overall">Overall</div>
            </div> -->
          </li>
        </ul>
      </div>
    </div>
  </div>

  <script src="pac12.js"></script>
