<style>
  body {
    background-color: gray;
    color: #FFFFFF;
  }
  table {
    padding: 0px;
    border: 0px;
    border-collapse: collapse;
    font-size: 5px;
    letter-spacing: 15px;
  }
  tr {
    height: 13px;
    width: 800px;
  }
  td {
  }
</style>
<table margin = "0px" padding ="0px">
  <!-- Red & Blue -->
  <tr>
    <td width = "200px" style = "background-color: 002868;" ><p>&#9733; &#9733; &#32; &#9733; &#32; &#9733; &#32;  &#9733; &#32; &#9733; </p></td>
    <td width = "300px" style = "background-color: BF0A30;"></td>
  </tr>
  <tr>
  <!-- Blue & White -->
    <td style = "background-color: 002868;"><p>&#9733  &#9733  &#9733  &#9733  &#9733  &#9733 </p></td>
    <td style = "background-color: FFFFFF;"></td>
  </tr>
  <tr>
    <td width = "200px" style = "background-color: 002868;"><p>&#9733  &#9733  &#9733  &#9733  &#9733  &#9733 </p></td>
    <td width = "300px" style = "background-color: BF0A30;"></td>
  </tr>
  <tr >
  <!-- Blue & White -->
    <td style = "background-color: 002868;"><p>&#9733  &#9733  &#9733  &#9733  &#9733  &#9733 </p></td>
    <td style = "background-color: FFFFFF;"></td>
  </tr>
  <tr>
    <td width = "200px" style = "background-color: 002868;"><p>&#9733  &#9733  &#9733  &#9733  &#9733  &#9733 </p></td>
    <td width = "300px" style = "background-color: BF0A30;"></td>
  </tr>
  <tr>
  <!-- Blue & White -->
    <td style = "background-color: 002868;"><p>&#9733  &#9733  &#9733  &#9733  &#9733  &#9733 </p></td>
    <td style = "background-color: FFFFFF;"></td>
  </tr>
  <tr>
    <td style = "background-color: 002868;"><p>&#9733  &#9733  &#9733  &#9733  &#9733  &#9733 </p></td>
    <td style = "background-color: BF0A30;"></td>
  </tr>
  <tr>
    <td colspan="100%" style = "background-color: FFFFFF;"></td>
  </tr>
  <tr>
    <td colspan="100%" style = "background-color: BF0A30;"></td>
  </tr>
  <tr>
    <td colspan="100%" style = "background-color: FFFFFF;"></td>
  </tr>
  <tr>
    <td colspan="100%" style = "background-color: BF0A30;"></td>
  </tr>
  <tr>
    <td colspan="100%" style = "background-color: FFFFFF;"></td>
  </tr>
  <tr>
    <td colspan="100%" style = "background-color: BF0A30;"></td>
  </tr>
