<head>
  <title>Take This Quiz to Find Out Your Favorite Team</title>
  <style>
  body {
    background-color: white;
    font-size: 1rem;
    font-family: Proxima Nova,Helvetica,Arial,sans-serif;
    color: #222;
    line-height: 1.5;
  }
  img {
    width: 200px;
    height: 200px;
  }
  div#header {
    background-color: blue;
    width: 800px;
    vertical-align: middle;
    text-align: center;
    font-size: 80px;
    color: #FFFFFF;
    font-family: "Arial Black", Gadget, sans-serif;
  }
  input.hidden[type="radio"]{
    visibility:hidden;
  }
  table {
    cellspacing: 20;
    width: 800px;
  }
  .input_box {
    border: 1px solid #d3d3d3;
    background-color: white;
    border-radius: 5px;
  }
  h1 {
    font-size: 1.375rem;
    font-weight: 600;
    letter-spacing: 0;
  }
  </style>
</head>
<body>
  <div id = "main">
    <h1>Take This Quiz to Find Out Your Favorite Sports Team</h1>
    <p>You'll never guess who it is!</p>
  <div id="header">Who is your favorite team?</div>
  <table margin="20" cellspacing="20">
    <tr>
      <td class = "input_box">
        <form action = "http://courses.washington.edu/bimd233/bimd.php" method = post>
        <label><input class = "hidden" type = "radio" name = "team" value ="Washington Huskies"><img src="https://cdn.freebiesupply.com/logos/large/2x/washington-huskies-2-logo-png-transparent.png"</label></br>
      </td>
      <td class = "input_box">
        <form action = "http://courses.washington.edu/bimd233/bimd.php" method = post>
        <label><input class = "hidden" type = "radio" name = "team" value ="Washington Cougars"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/07/Washington_State_Cougars_logo.svg/1200px-Washington_State_Cougars_logo.svg.png"</label></br>
      </td>
      <td class = "input_box">
        <form action = "http://courses.washington.edu/bimd233/bimd.php" method = post>
        <label><input class = "hidden" type = "radio" name = "team" value ="Stanford Cardinals"><img src="http://a1.espncdn.com/combiner/i?img=%2Fi%2Fteamlogos%2Fncaa%2F500%2F24.png"</label></br>
      </td>
    </tr>
      <td class = "input_box">
        <form action = "http://courses.washington.edu/bimd233/bimd.php" method = post>
        <label><input class = "hidden" type = "radio" name = "team" value ="California Bears"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/California_Golden_Bears_logo.svg/1200px-California_Golden_Bears_logo.svg.png"</label></br>
      </td>
      <td class = "input_box">
        <form action = "http://courses.washington.edu/bimd233/bimd.php" method = post>
        <label><input class = "hidden" type = "radio" name = "team" value ="Oregon"><img src="https://www.logolynx.com/images/logolynx/1b/1b7d124b2ad0b504e68d0e8a88f8791a.gif"</label></br>
      </td>
      <td class = "input_box">
        <form action = "http://courses.washington.edu/bimd233/bimd.php" method = post>
        <label><input class = "hidden" type = "radio" name = "team" value ="Oregon State"><img src="https://s3-us-west-2.amazonaws.com/scorestream-team-profile-pictures/teamPic116117-10743-ejyoid.png"</label></br>
      </td>
    </tr>
</table>
</div>


<input type = "submit">
</form>
</body>
