.container {
  width: 1500px;
}
#ten {
  background-color: rgba(0, 102, 0);
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
}
#nine {
  background-color: rgba(0, 102, 0, 0.9);
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
}
#eight {
  background-color: rgba(0, 102, 0, 0.8);
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
}
#seven {
  background-color: rgba(0, 102, 0, 0.7);
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
}
#six {
  background-color: rgba(0, 102, 0, 0.6);
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
}
#five {
  background-color: rgba(0, 102, 0, 0.5);
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
}
#four {
  background-color: rgba(0, 102, 0, 0.4);
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
}
#three {
  background-color: rgba(0, 102, 0, 0.3);
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
}
#two {
  background-color: rgba(0, 102, 0, 0.2);
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
}
#one {
  background-color: rgba(0, 102, 0, 0.1);
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
}

#tenHSL {
  background-color: hsla(120, 100%, 20%);
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
}
#nineHSL {
  background-color: hsla(120, 100%, 20%, 0.9);
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
}
#eightHSL {
  background-color: hsla(120, 100%, 20%, 0.8);
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
}
#sevenHSL {
  background-color: hsla(120, 100%, 20%, 0.7);
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
}
#sixHSL {
  background-color: hsla(120, 100%, 20%, 0.6);
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
}
#fiveHSL {
  background-color: hsla(120, 100%, 20%, 0.5);
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
}
#fourHSL {
  background-color: hsla(120, 100%, 20%, 0.4);
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
}
#threeHSL {
  background-color: hsla(120, 100%, 20%, 0.3);
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
}
#twoHSL {
  background-color: hsla(120, 100%, 20%, 0.2);
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
}
#oneHSL {
  background-color: hsla(120, 100%, 20%, 0.1);
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
}
