.white {
  background-color: white;
  width: 550px;
}
.red {
  background-color: red;
  width: 550px;
}
body {
  background-color: blue;
}
table {
  border-collapse: collapse;
}
td, tr {
  margin: 0px;
  padding 0px;
  height: 25px;
}
#stars {
  padding: 0px;
}
